In [2]:
import numpy as np
import pandas as pd
import datetime

import pandas_datareader # install with `pip install pandas-datareader`
import pydst # install with `pip install git+https://github.com/elben10/pydst`
import matplotlib.pyplot as plt

In [3]:
Dst = pydst.Dst(lang='en')

In [5]:
print(type(Dst))

<class 'pydst.pydst.Dst'>

In [7]:
Dst.get_subjects()

   id                    desc  active  hasSubjects
0   1                  People    True         True
1   2       Labour and income    True         True
2   3                 Economy    True         True
3   4       Social conditions    True         True
4   5  Education and research    True         True
5   6                Business    True         True
6   7               Transport    True         True
7   8     Culture and leisure    True         True
8   9  Environment and energy    True         True
9  19                   Other    True         True

In [24]:
tables = Dst.get_tables(subjects=['2'])
print(type(tables))
display(tables)

<class 'pandas.core.frame.DataFrame'>

,id,text,unit,updated,firstPeriod,latestPeriod,active,variables
0,AKU100K,Seasonally adjusted labour force status,"1,000 people",2022-03-09 08:00:00,2008Q1,2021Q4,True,"[employment status, time]"
1,AKU101K,Seasonally adjusted labour force status in per...,Per cent,2022-03-09 08:00:00,2008Q1,2021Q4,True,"[employment status, time]"
2,AKU110K,Labour force status,"1,000 people",2022-03-09 08:00:00,2008Q1,2021Q4,True,"[employment status, age, sex, time]"
3,AKU111K,Labour force status in percentage,Per cent,2022-03-09 08:00:00,2008Q1,2021Q4,True,"[employment status, age, sex, time]"
4,AKU120K,Labour force status,"1,000 people",2022-03-09 08:00:00,2008Q1,2021Q4,True,"[employment status, region, time]"
...,...,...,...,...,...,...,...,...
233,PENFOR11,Value of pension schemes,-,2021-08-25 08:00:00,2015,2020,True,"[kind of pension, taxation, age, sex, unit, time]"
234,PENFOR12,Value of pension schemes,Number,2021-08-25 08:00:00,2015,2020,True,"[family type, age, sex, price unit, value of p..."
235,PENS6,Value of pension schemes (except special schem...,-,2021-08-25 08:00:00,2015,2020,True,"[kind of pension, company type, unit, family t..."
236,PENFOR20,Value of pension schemes,-,2021-08-27 08:00:00,2015,2020,True,"[kind of pension, company type, age, populatio..."
237,PENINDB1,Persons with pension contributions,-,2021-11-29 08:00:00,2005,2020,True,"[region, unit, sex, age, type of pension, time]"

In [25]:
tables[tables.id == 'AKU101K']

,id,text,unit,updated,firstPeriod,latestPeriod,active,variables
1,AKU101K,Seasonally adjusted labour force status in per...,Per cent,2022-03-09 08:00:00,2008Q1,2021Q4,True,"[employment status, time]"

In [26]:
indk_vars = Dst.get_variables(table_id='AKU101K')
indk_vars

,id,text,elimination,time,values
0,BESKSTATUS,employment status,False,False,"[{'id': 'BFK', 'text': 'Employment rate'}, {'i..."
1,Tid,time,False,True,"[{'id': '2008K1', 'text': '2008Q1'}, {'id': '2..."

In [27]:
for id in ['BESKSTATUS','Tid']:
    print(id)
    values = indk_vars.loc[indk_vars.id == id,['values']].values[0,0]
    for value in values:      
        print(f' id = {value["id"]}, text = {value["text"]}')

BESKSTATUS
 id = BFK, text = Employment rate
 id = LPCT, text = ILO-unemployment rate
 id = EFK, text = Economic activity rate
Tid
 id = 2008K1, text = 2008Q1
 id = 2008K2, text = 2008Q2
 id = 2008K3, text = 2008Q3
 id = 2008K4, text = 2008Q4
 id = 2009K1, text = 2009Q1
 id = 2009K2, text = 2009Q2
 id = 2009K3, text = 2009Q3
 id = 2009K4, text = 2009Q4
 id = 2010K1, text = 2010Q1
 id = 2010K2, text = 2010Q2
 id = 2010K3, text = 2010Q3
 id = 2010K4, text = 2010Q4
 id = 2011K1, text = 2011Q1
 id = 2011K2, text = 2011Q2
 id = 2011K3, text = 2011Q3
 id = 2011K4, text = 2011Q4
 id = 2012K1, text = 2012Q1
 id = 2012K2, text = 2012Q2
 id = 2012K3, text = 2012Q3
 id = 2012K4, text = 2012Q4
 id = 2013K1, text = 2013Q1
 id = 2013K2, text = 2013Q2
 id = 2013K3, text = 2013Q3
 id = 2013K4, text = 2013Q4
 id = 2014K1, text = 2014Q1
 id = 2014K2, text = 2014Q2
 id = 2014K3, text = 2014Q3
 id = 2014K4, text = 2014Q4
 id = 2015K1, text = 2015Q1
 id = 2015K2, text = 2015Q2
 id = 2015K3, text = 2015Q3
 id = 2015K4, text = 2015Q4
 id = 2016K1, text = 2016Q1
 id = 2016K2, text = 2016Q2
 id = 2016K3, text = 2016Q3
 id = 2016K4, text = 2016Q4
 id = 2017K1, text = 2017Q1
 id = 2017K2, text = 2017Q2
 id = 2017K3, text = 2017Q3
 id = 2017K4, text = 2017Q4
 id = 2018K1, text = 2018Q1
 id = 2018K2, text = 2018Q2
 id = 2018K3, text = 2018Q3
 id = 2018K4, text = 2018Q4
 id = 2019K1, text = 2019Q1
 id = 2019K2, text = 2019Q2
 id = 2019K3, text = 2019Q3
 id = 2019K4, text = 2019Q4
 id = 2020K1, text = 2020Q1
 id = 2020K2, text = 2020Q2
 id = 2020K3, text = 2020Q3
 id = 2020K4, text = 2020Q4
 id = 2021K1, text = 2021Q1
 id = 2021K2, text = 2021Q2
 id = 2021K3, text = 2021Q3
 id = 2021K4, text = 2021Q4

In [16]:
variables = {'BESKSTATUS':['BFK'],'Tid':['*']}
inc_api = Dst.get_data(table_id = 'AKU101K', variables=variables)
inc_api.sort_values(by=['TID'], inplace=True)
inc_api.head(5)

        BESKSTATUS     TID  INDHOLD
0  Employment rate  2008Q1     76.7
1  Employment rate  2008Q2     76.3
2  Employment rate  2008Q3     76.2
3  Employment rate  2008Q4     76.0
4  Employment rate  2009Q1     75.1

In [19]:
tables = Dst.get_tables(subjects=['3'])
print(type(tables))
display(tables)

<class 'pandas.core.frame.DataFrame'>

,id,text,unit,updated,firstPeriod,latestPeriod,active,variables
0,NAN1,Demand and supply,-,2022-03-31 08:00:00,1966,2021,True,"[transaction, price unit, time]"
1,VNAN1,Versionstable NAN1 - Demand and supply (year),-,2022-03-31 08:00:00,1966,2021,True,"[version, transaction, price unit, time]"
2,NAN2,Real gross national disposable income etc.,M dkk,2022-03-31 08:00:00,1966,2021,True,"[transaction, price unit, time]"
3,NAN3,"Consumption, disposable income and saving for ...",-,2022-03-31 08:00:00,1995,2021,True,"[transaction, price unit, time]"
4,NKN1,Demand and supply,-,2022-03-31 08:00:00,1990Q1,2021Q4,True,"[transaction, price unit, seasonal adjustment,..."
...,...,...,...,...,...,...,...,...
361,DNBSTP,Transactions using Danish issued cards,-,2022-02-15 08:00:00,2016Q1,2021Q4,True,"[type, cardholder, data type, time]"
362,DNBSKK,ATMs and card terminals,Number,2022-02-15 08:00:00,2016Q1,2021Q4,True,"[devices, time]"
363,DNBSHI,Withdrawals and deposits,-,2022-02-15 08:00:00,2016Q1,2021Q4,True,"[withdrawels and deposits, point of operation,..."
364,DNBSVKO,Credit transfers in currency,Number,2022-02-15 08:00:00,2016Q1,2021Q4,True,"[type, direction, geographical coverage, data ..."
365,DNBSIKO,Domestic credit transfers in Danish kroner,-,2022-02-15 08:00:00,2016Q1,2021Q4,True,"[type, initiation, data type, time]"

In [20]:
tables[tables.id == 'MPK13']

,id,text,unit,updated,firstPeriod,latestPeriod,active,variables
355,MPK13,Share index,Index,2022-03-25 08:00:00,1996M01,2022M02,True,"[type, time]"

In [28]:
indk_vars1 = Dst.get_variables(table_id='MPK13')
indk_vars1

,id,text,elimination,time,values
0,TYPE,type,True,False,"[{'id': '10', 'text': 'Total (OMXC end Decembe..."
1,Tid,time,False,True,"[{'id': '1996M01', 'text': '1996M01'}, {'id': ..."

In [33]:
for id in ['TYPE','Tid']:
    print(id)
    values = indk_vars1.loc[indk_vars1.id == id,['values']].values[0,0]
    for value in values:      
        print(f' id = {value["id"]}, text = {value["text"]}')

TYPE
 id = 10, text = Total (OMXC end December 1995 = 100)
 id = 57, text = OMXC 20 Cap (28th November 2011 = 400)
 id = 60, text = OMXC 20 (3rd july 1989 = 100)
 id = 75, text = MidCap+ (end December 2002 = 100)
 id = 80, text = SmallCap+  (end December 2002 = 100)
 id = 85, text = OMXC 25 (19th dec 2016 = 1.000)
 id = 13, text = Energy
 id = 15, text = Materials
 id = 20, text = Industrials
 id = 25, text = Consumer discretions
 id = 30, text = Consumer Services
 id = 35, text = Health Care
 id = 40, text = Financials
 id = 45, text = Information technology
 id = 55, text = Utilities
Tid
 id = 1996M01, text = 1996M01
 id = 1996M02, text = 1996M02
 id = 1996M03, text = 1996M03
 id = 1996M04, text = 1996M04
 id = 1996M05, text = 1996M05
 id = 1996M06, text = 1996M06
 id = 1996M07, text = 1996M07
 id = 1996M08, text = 1996M08
 id = 1996M09, text = 1996M09
 id = 1996M10, text = 1996M10
 id = 1996M11, text = 1996M11
 id = 1996M12, text = 1996M12
 id = 1997M01, text = 1997M01
 id = 1997M02, text = 1997M02
 id = 1997M03, text = 1997M03
 id = 1997M04, text = 1997M04
 id = 1997M05, text = 1997M05
 id = 1997M06, text = 1997M06
 id = 1997M07, text = 1997M07
 id = 1997M08, text = 1997M08
 id = 1997M09, text = 1997M09
 id = 1997M10, text = 1997M10
 id = 1997M11, text = 1997M11
 id = 1997M12, text = 1997M12
 id = 1998M01, text = 1998M01
 id = 1998M02, text = 1998M02
 id = 1998M03, text = 1998M03
 id = 1998M04, text = 1998M04
 id = 1998M05, text = 1998M05
 id = 1998M06, text = 1998M06
 id = 1998M07, text = 1998M07
 id = 1998M08, text = 1998M08
 id = 1998M09, text = 1998M09
 id = 1998M10, text = 1998M10
 id = 1998M11, text = 1998M11
 id = 1998M12, text = 1998M12
 id = 1999M01, text = 1999M01
 id = 1999M02, text = 1999M02
 id = 1999M03, text = 1999M03
 id = 1999M04, text = 1999M04
 id = 1999M05, text = 1999M05
 id = 1999M06, text = 1999M06
 id = 1999M07, text = 1999M07
 id = 1999M08, text = 1999M08
 id = 1999M09, text = 1999M09
 id = 1999M10, text = 1999M10
 id = 1999M11, text = 1999M11
 id = 1999M12, text = 1999M12
 id = 2000M01, text = 2000M01
 id = 2000M02, text = 2000M02
 id = 2000M03, text = 2000M03
 id = 2000M04, text = 2000M04
 id = 2000M05, text = 2000M05
 id = 2000M06, text = 2000M06
 id = 2000M07, text = 2000M07
 id = 2000M08, text = 2000M08
 id = 2000M09, text = 2000M09
 id = 2000M10, text = 2000M10
 id = 2000M11, text = 2000M11
 id = 2000M12, text = 2000M12
 id = 2001M01, text = 2001M01
 id = 2001M02, text = 2001M02
 id = 2001M03, text = 2001M03
 id = 2001M04, text = 2001M04
 id = 2001M05, text = 2001M05
 id = 2001M06, text = 2001M06
 id = 2001M07, text = 2001M07
 id = 2001M08, text = 2001M08
 id = 2001M09, text = 2001M09
 id = 2001M10, text = 2001M10
 id = 2001M11, text = 2001M11
 id = 2001M12, text = 2001M12
 id = 2002M01, text = 2002M01
 id = 2002M02, text = 2002M02
 id = 2002M03, text = 2002M03
 id = 2002M04, text = 2002M04
 id = 2002M05, text = 2002M05
 id = 2002M06, text = 2002M06
 id = 2002M07, text = 2002M07
 id = 2002M08, text = 2002M08
 id = 2002M09, text = 2002M09
 id = 2002M10, text = 2002M10
 id = 2002M11, text = 2002M11
 id = 2002M12, text = 2002M12
 id = 2003M01, text = 2003M01
 id = 2003M02, text = 2003M02
 id = 2003M03, text = 2003M03
 id = 2003M04, text = 2003M04
 id = 2003M05, text = 2003M05
 id = 2003M06, text = 2003M06
 id = 2003M07, text = 2003M07
 id = 2003M08, text = 2003M08
 id = 2003M09, text = 2003M09
 id = 2003M10, text = 2003M10
 id = 2003M11, text = 2003M11
 id = 2003M12, text = 2003M12
 id = 2004M01, text = 2004M01
 id = 2004M02, text = 2004M02
 id = 2004M03, text = 2004M03
 id = 2004M04, text = 2004M04
 id = 2004M05, text = 2004M05
 id = 2004M06, text = 2004M06
 id = 2004M07, text = 2004M07
 id = 2004M08, text = 2004M08
 id = 2004M09, text = 2004M09
 id = 2004M10, text = 2004M10
 id = 2004M11, text = 2004M11
 id = 2004M12, text = 2004M12
 id = 2005M01, text = 2005M01
 id = 2005M02, text = 2005M02
 id = 2005M03, text = 2005M03
 id = 2005M04, text = 2005M04
 id = 2005M05, text = 2005M05
 id = 2005M06, text = 2005M06
 id = 2005M07, text = 2005M07
 id = 2005M08, text = 2005M08
 id = 2005M09, text = 2005M09
 id = 2005M10, text = 2005M10
 id = 2005M11, text = 2005M11
 id = 2005M12, text = 2005M12
 id = 2006M01, text = 2006M01
 id = 2006M02, text = 2006M02
 id = 2006M03, text = 2006M03
 id = 2006M04, text = 2006M04
 id = 2006M05, text = 2006M05
 id = 2006M06, text = 2006M06
 id = 2006M07, text = 2006M07
 id = 2006M08, text = 2006M08
 id = 2006M09, text = 2006M09
 id = 2006M10, text = 2006M10
 id = 2006M11, text = 2006M11
 id = 2006M12, text = 2006M12
 id = 2007M01, text = 2007M01
 id = 2007M02, text = 2007M02
 id = 2007M03, text = 2007M03
 id = 2007M04, text = 2007M04
 id = 2007M05, text = 2007M05
 id = 2007M06, text = 2007M06
 id = 2007M07, text = 2007M07
 id = 2007M08, text = 2007M08
 id = 2007M09, text = 2007M09
 id = 2007M10, text = 2007M10
 id = 2007M11, text = 2007M11
 id = 2007M12, text = 2007M12
 id = 2008M01, text = 2008M01
 id = 2008M02, text = 2008M02
 id = 2008M03, text = 2008M03
 id = 2008M04, text = 2008M04
 id = 2008M05, text = 2008M05
 id = 2008M06, text = 2008M06
 id = 2008M07, text = 2008M07
 id = 2008M08, text = 2008M08
 id = 2008M09, text = 2008M09
 id = 2008M10, text = 2008M10
 id = 2008M11, text = 2008M11
 id = 2008M12, text = 2008M12
 id = 2009M01, text = 2009M01
 id = 2009M02, text = 2009M02
 id = 2009M03, text = 2009M03
 id = 2009M04, text = 2009M04
 id = 2009M05, text = 2009M05
 id = 2009M06, text = 2009M06
 id = 2009M07, text = 2009M07
 id = 2009M08, text = 2009M08
 id = 2009M09, text = 2009M09
 id = 2009M10, text = 2009M10
 id = 2009M11, text = 2009M11
 id = 2009M12, text = 2009M12
 id = 2010M01, text = 2010M01
 id = 2010M02, text = 2010M02
 id = 2010M03, text = 2010M03
 id = 2010M04, text = 2010M04
 id = 2010M05, text = 2010M05
 id = 2010M06, text = 2010M06
 id = 2010M07, text = 2010M07
 id = 2010M08, text = 2010M08
 id = 2010M09, text = 2010M09
 id = 2010M10, text = 2010M10
 id = 2010M11, text = 2010M11
 id = 2010M12, text = 2010M12
 id = 2011M01, text = 2011M01
 id = 2011M02, text = 2011M02
 id = 2011M03, text = 2011M03
 id = 2011M04, text = 2011M04
 id = 2011M05, text = 2011M05
 id = 2011M06, text = 2011M06
 id = 2011M07, text = 2011M07
 id = 2011M08, text = 2011M08
 id = 2011M09, text = 2011M09
 id = 2011M10, text = 2011M10
 id = 2011M11, text = 2011M11
 id = 2011M12, text = 2011M12
 id = 2012M01, text = 2012M01
 id = 2012M02, text = 2012M02
 id = 2012M03, text = 2012M03
 id = 2012M04, text = 2012M04
 id = 2012M05, text = 2012M05
 id = 2012M06, text = 2012M06
 id = 2012M07, text = 2012M07
 id = 2012M08, text = 2012M08
 id = 2012M09, text = 2012M09
 id = 2012M10, text = 2012M10
 id = 2012M11, text = 2012M11
 id = 2012M12, text = 2012M12
 id = 2013M01, text = 2013M01
 id = 2013M02, text = 2013M02
 id = 2013M03, text = 2013M03
 id = 2013M04, text = 2013M04
 id = 2013M05, text = 2013M05
 id = 2013M06, text = 2013M06
 id = 2013M07, text = 2013M07
 id = 2013M08, text = 2013M08
 id = 2013M09, text = 2013M09
 id = 2013M10, text = 2013M10
 id = 2013M11, text = 2013M11
 id = 2013M12, text = 2013M12
 id = 2014M01, text = 2014M01
 id = 2014M02, text = 2014M02
 id = 2014M03, text = 2014M03
 id = 2014M04, text = 2014M04
 id = 2014M05, text = 2014M05
 id = 2014M06, text = 2014M06
 id = 2014M07, text = 2014M07
 id = 2014M08, text = 2014M08
 id = 2014M09, text = 2014M09
 id = 2014M10, text = 2014M10
 id = 2014M11, text = 2014M11
 id = 2014M12, text = 2014M12
 id = 2015M01, text = 2015M01
 id = 2015M02, text = 2015M02
 id = 2015M03, text = 2015M03
 id = 2015M04, text = 2015M04
 id = 2015M05, text = 2015M05
 id = 2015M06, text = 2015M06
 id = 2015M07, text = 2015M07
 id = 2015M08, text = 2015M08
 id = 2015M09, text = 2015M09
 id = 2015M10, text = 2015M10
 id = 2015M11, text = 2015M11
 id = 2015M12, text = 2015M12
 id = 2016M01, text = 2016M01
 id = 2016M02, text = 2016M02
 id = 2016M03, text = 2016M03
 id = 2016M04, text = 2016M04
 id = 2016M05, text = 2016M05
 id = 2016M06, text = 2016M06
 id = 2016M07, text = 2016M07
 id = 2016M08, text = 2016M08
 id = 2016M09, text = 2016M09
 id = 2016M10, text = 2016M10
 id = 2016M11, text = 2016M11
 id = 2016M12, text = 2016M12
 id = 2017M01, text = 2017M01
 id = 2017M02, text = 2017M02
 id = 2017M03, text = 2017M03
 id = 2017M04, text = 2017M04
 id = 2017M05, text = 2017M05
 id = 2017M06, text = 2017M06
 id = 2017M07, text = 2017M07
 id = 2017M08, text = 2017M08
 id = 2017M09, text = 2017M09
 id = 2017M10, text = 2017M10
 id = 2017M11, text = 2017M11
 id = 2017M12, text = 2017M12
 id = 2018M01, text = 2018M01
 id = 2018M02, text = 2018M02
 id = 2018M03, text = 2018M03
 id = 2018M04, text = 2018M04
 id = 2018M05, text = 2018M05
 id = 2018M06, text = 2018M06
 id = 2018M07, text = 2018M07
 id = 2018M08, text = 2018M08
 id = 2018M09, text = 2018M09
 id = 2018M10, text = 2018M10
 id = 2018M11, text = 2018M11
 id = 2018M12, text = 2018M12
 id = 2019M01, text = 2019M01
 id = 2019M02, text = 2019M02
 id = 2019M03, text = 2019M03
 id = 2019M04, text = 2019M04
 id = 2019M05, text = 2019M05
 id = 2019M06, text = 2019M06
 id = 2019M07, text = 2019M07
 id = 2019M08, text = 2019M08
 id = 2019M09, text = 2019M09
 id = 2019M10, text = 2019M10
 id = 2019M11, text = 2019M11
 id = 2019M12, text = 2019M12
 id = 2020M01, text = 2020M01
 id = 2020M02, text = 2020M02
 id = 2020M03, text = 2020M03
 id = 2020M04, text = 2020M04
 id = 2020M05, text = 2020M05
 id = 2020M06, text = 2020M06
 id = 2020M07, text = 2020M07
 id = 2020M08, text = 2020M08
 id = 2020M09, text = 2020M09
 id = 2020M10, text = 2020M10
 id = 2020M11, text = 2020M11
 id = 2020M12, text = 2020M12
 id = 2021M01, text = 2021M01
 id = 2021M02, text = 2021M02
 id = 2021M03, text = 2021M03
 id = 2021M04, text = 2021M04
 id = 2021M05, text = 2021M05
 id = 2021M06, text = 2021M06
 id = 2021M07, text = 2021M07
 id = 2021M08, text = 2021M08
 id = 2021M09, text = 2021M09
 id = 2021M10, text = 2021M10
 id = 2021M11, text = 2021M11
 id = 2021M12, text = 2021M12
 id = 2022M01, text = 2022M01
 id = 2022M02, text = 2022M02

In [37]:
variables1 = {'TYPE':['85'],'Tid':['*']}
inc_api1 = Dst.get_data(table_id = 'MPK13', variables=variables1)
inc_api1.sort_values(by=['TID'], inplace=True)
inc_api1.tail(5)

                                TYPE      TID INDHOLD
309  OMXC 25 (19th dec 2016 = 1.000)  2021M10    1971
310  OMXC 25 (19th dec 2016 = 1.000)  2021M11    1883
311  OMXC 25 (19th dec 2016 = 1.000)  2021M12    1966
312  OMXC 25 (19th dec 2016 = 1.000)  2022M01    1776
313  OMXC 25 (19th dec 2016 = 1.000)  2022M02    1765